In [1]:
import pandas as pd
from urllib.request import Request, urlopen
from bs4 import BeautifulSoup, Comment
from time import sleep
import re

In [2]:
array = []

url = 'https://www.mascotdb.com/native-american-high-school?field_state_tid=All'
hdr = {'User-Agent':'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2) AppleWebKit/601.3.9 (KHTML, like Gecko) Version/9.0.2 Safari/601.3.9'}
req = Request(url,headers=hdr)
page = urlopen(req).read()
soup = BeautifulSoup(page)
table = soup.find('tbody').find_all('tr')

for tr in table:
    team_name = tr.find('a').text.replace("\n","").replace("  ","")
    url = tr.find('a')['href']
    city = tr.find_all('td')[1].text.replace("\n","").replace("  ","")
    state = tr.find_all('td')[2].text.replace("\n","").replace("  ","")
    status = tr.find_all('td')[3].text.replace("\n","").replace("  ","")
    array.append([team_name,city,state,status,url])

In [3]:
nu_array = []
for i in array:
    url = 'https://www.mascotdb.com' + i[4]
    req = Request(url,headers=hdr)
    page = urlopen(req).read()
    soup = BeautifulSoup(page)
    try:
        tidbit = soup.find('strong', text = re.compile('Tidbits: ')).next_sibling
    except:
        tidbit = ''
    nu_array.append([i[0],i[1],i[2],i[3],i[4],tidbit])

In [4]:
df = pd.DataFrame(data=nu_array,columns=["team_name", "city","state","status","url",'tidbit'])

In [7]:
df.to_csv('allMascotData.csv')

In [6]:
active = df.loc[df['status'] == 'active']

In [11]:
indians = active[active['team_name'].str.contains("Indian", na=False)]
redskins = active[active['team_name'].str.contains("Redskin", na=False)]
print(indians.shape[0])
print(redskins.shape[0])

459
55

In [21]:
warriors = active[active['team_name'].str.contains("Warriors", na=False)]
braves = active[active['team_name'].str.contains("Braves", na=False)]
print(warriors.shape[0])
print(braves.shape[0])

723
106

In [22]:
chiefs = active[active['team_name'].str.contains("Chiefs", na=False)]
blackhawks = active[active['team_name'].str.contains("Blackhawks", na=False)]
print(chiefs.shape[0])
print(blackhawks.shape[0])

74
38

In [10]:
defunct_notes = defunct["tidbit"] != ""
defunct_tidbit = defunct[defunct_notes]

In [11]:
noInfo = defunct_tidbit[~defunct_tidbit["tidbit"].str.contains("See more information at", na=False)]
noInfo = noInfo[~noInfo["tidbit"].str.contains("consolidated", na=False)]
noInfo

,team_name,city,state,status,url,tidbit
11,Afton Indians,Afton,New York,defunct,/teams/afton-indians,Renamed the Crimson Knights in 2001.
97,Arvada Redskins,Arvada,Colorado,defunct,/teams/arvada-redskins,Changed nickname to Bulldogs in 1993
164,Belding Redskins,Belding,Michigan,defunct,/teams/belding-redskins,Renamed the
217,Bishop Alemany Indians,Mission Hills,California,defunct,/teams/bishop-alemany-indians,Currently known as the Warriors
239,Boise Braves,Boise,Idaho,defunct,/teams/boise-braves,[Renamed to the Boise Brave in 2019]
...,...,...,...,...,...,...
2653,Western Christian Indians,Hull,Iowa,defunct,/teams/western-christian-indians,Changed their mascot to the Wolfpack in the 19...
2772,Wiscasset Redskins,Wiscasset,Maine,defunct,/teams/wiscasset-redskins,Changed name to Wiscasset Wolverines in 2011.
2776,Wonewoc-Center Indians,Wonewoc,Wisconsin,defunct,/teams/wonewoc-center-indians,Currently known as the Wonewoc-Center Wolves.
2777,Wood Lake Warriors,Wood Lake,Minnesota,defunct,/teams/wood-lake-warriors,Consolidated with Echo to become Echo-Wood Lak...
2792,Woonsocket Redmen,Woonsocket,South Dakota,defunct,/teams/woonsocket-redmen,Currently known as the Blackhawks

In [17]:
indians = noInfo[noInfo['team_name'].str.contains("Indians", na=False)]
indians.to_csv('indianNames.csv')

In [18]:
redskins = noInfo[noInfo['team_name'].str.contains("Redskins", na=False)]
redskins.to_csv('rsNames.csv')

In [ ]:
cali = df.loc[df['state'] == 'California']
defunct_notes = cali["tidbit"] != ""
cali_tidbit = cali[defunct_notes]
cali_noInfo = cali[~cali["tidbit"].str.contains("See more information at", na=False)]
cali_noInfo = cali_noInfo[~cali_noInfo["tidbit"].str.contains("consolidated", na=False)]
cali_noInfo

In [18]:
cali_redskins = redskins[redskins['state'].str.contains("California", na=False)]
cali_redskins

,team_name,city,state,status,url,tidbit
924,Gustine Redskins,Gustine,California,active,/teams/gustine-redskins,

In [19]:
cali_indians = indians[indians['state'].str.contains("California", na=False)]
cali_indians

,team_name,city,state,status,url,tidbit
322,Burroughs Indians,Burbank,California,active,/teams/burroughs-indians,
831,Fullerton Indians,Fullerton,California,active,/teams/fullerton-indians,
908,Greenville Indians,Greenville,California,active,/teams/greenville-indians,
945,Happy Camp Indians,Happy Camp,California,active,/teams/happy-camp-indians,
954,Hart Indians,Newhall,California,active,/teams/hart-indians,
1091,Jefferson Indians,Daly City,California,active,/teams/jefferson-indians,
1135,Kelseyville Indians,Kelseyville,California,active,/teams/kelseyville-indians,
1332,Maricopa Indians,Maricopa,California,active,/teams/maricopa-indians,
1350,Marysville Indians,Marysville,California,active,/teams/marysville-indians,
1529,Napa Indians,Napa,California,active,/teams/napa-indians,
1587,Noli Indian Braves,San Jacinto,California,active,/teams/noli-indian-braves,
1734,Palm Springs Indians,Palm Springs,California,active,/teams/palm-springs-indians,
1952,Ripon Indians,Ripon,California,active,/teams/ripon-indians,
2137,Sherman Indian Braves,Riverside,California,active,/teams/sherman-indian-braves,
2329,Swett Indians,Crockett,California,active,/teams/swett-indians,

In [ ]:
df_redskins = df[df['team_name'].str.contains("Redskins", na=False)]
df_redskins

In [23]:
from geopy.geocoders import Nominatim

In [30]:
geolocator = Nominatim(user_agent="msData")
location = geolocator.geocode("Daly City, California")

In [31]:
print((location.latitude, location.longitude))

(37.6904826, -122.4726708)

In [41]:
lats = []
longs = []
for index, row in df.iterrows():
    loc_str = row.city + ", " + row.state
    try:
        location = geolocator.geocode(loc_str)
        lats.append(location.latitude)
        longs.append(location.longitude)
    except:
        lats.append('')
        longs.append('')

df['lat'] = lats
df['long'] = longs

In [42]:
df.head()

,team_name,city,state,status,url,tidbit,lat,long
0,'Iolani Raiders,Honolulu,Hawaii,active,/teams/iolani-raiders,,21.3045,-157.856
1,A.H. Parker Bison,Birmingham,Alabama,active,/teams/ah-parker-bison,,33.5207,-86.8024
2,Abundant Life Academy Warriors,Kanab,Utah,active,/teams/abundant-life-academy-warriors,,37.0481,-112.529
3,Ackerman Indians,Ackerman,Mississippi,active,/teams/ackerman-indians,,33.3101,-89.1728
4,Ackley Raiders,Ackley,Iowa,defunct,/teams/ackley-raiders,,42.5539,-93.0527

In [43]:
df.to_csv('allMascotData.csv')